*.egg-info
*.log
*.pyc
*.so
*.db
*.swp
*.swo
*.zip
*.tox
*~
*.mo
*.tsv
items.json
*.sqlite
wget-log
.project
.pydevproject
.settings/
venv/
dist
build
.idea
.scrapecache
env
project.egg-info
pdf
local_settings.py
items.csv


test/mytest/
test/aws_s3/files/

